:host {
  max-width: 36rem;
  margin-top: 1rem;
}

ion-button {
  margin-top: 20px;
}

ion-img {
  width: 20rem;
  height: 20rem;
}

ion-datetime {
  margin-top: 10px;
  max-width: 75%;
  --background: #fff1f2;
  --background-rgb: 255, 241, 242;
  border-radius: 16px;
  box-shadow: rgba(var(--ion-color-secondary-shade), 0.3) 0px 10px 15px -3px;
}

ion-button {
  width: 100%;
  margin: 0;
}

p {
  color: var(--ion-color-dark);
}
